*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.gifs{
    margin-top:10px auto;
    display:grid;
    margin-bottom:15px;
    grid-template-columns: repeat(4,1fr);
}

#heading {
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
    height:20px;
    font-size: 80px;
    margin-bottom:100px;
    text-align:center;

}

.search_box{
    margin-bottom:20px;
    display:flex;
    align-items: center;
}

#images{

    width:350px;
    height:230px;
    border:2px solid black;
}

 input{
    border:2px solid black;
    padding:10px;
    height:50px;
    width:280px;
    margin-left:10px;
    border-right:none;
}

#search_btn{
    cursor:pointer;
    border:2px solid black;
    padding:10px;
    height:50px;
    width:40px;
    text-align: center;
}


#result_type{
    margin-bottom:20px;
    color:black;
    margin-left:12px;
    font-size:35px;
    font-family:lobster;
}